.dateSearchButtons {
  font-size: 90%;
  padding-bottom: 1em;
}

.dateSearchHiddenEdit {
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
  display: block;
  float:left;
  visibility: hidden;
}
